

<div>

  <h5 class="fs-3">Consultar Atendimento</h5>
  <p> </p>
  <hr />


  <form>
    <div class="row mb-2">

        <div class="col-md-3">
            <input type="text" class="form-control"/>
        </div>
        <div class="col-md-2">
            <input type="submit" class="btn btn-light"
                   value="Consultar Paciente"/>
        </div>
    </div><br>
</form>

<div class="table-responsive">
  <table class="table table-sm table-striped table-hover">
      <thead>
          <tr>
              <th>Nome</th>
              <th>Telefone</th>
              <th>Data de Nasc</th>
              <th>Data de Consulta</th>
              <th>Tipo</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Marcelo Moura</td>
              <td>8888-2222</td>
              <td>28/01/1477</td>
              <td>20/10/1477</td>
              <td>Plano</td>
              <td>

              </td>
          </tr>
      </tbody><br>
      <tfoot>
          <tr>
              <td colspan="5">
                  Atendimentos: 0
              </td>
          </tr>
      </tfoot>
  </table>
</div>



</div>
