

<div>

  <h5 class="fs-3">Cadastro de Paciente</h5>
  <p> </p>
  <hr />


<form [formGroup]="formCadastro">

      <div class="col-md-5">
        <label>Nome:</label>
        <input type="text" class="form-control" formControlName="nome" />
        <div class="text-danger" *ngIf="form.nome.touched && form.nome.invalid">
          <span *ngIf="form.nome.errors.required">
            Informe o nome.
          </span>
          <span *ngIf="form.nome.errors.pattern">
            Apenas letras, de 3 a 50 caracteres.
          </span>
        </div>
      </div><br>

      <div class="col-md-5">
        <label>Telefone:</label>
        <input type="text" class="form-control" placeholder="0000-0000" formControlName="telefone"/>
        <div class="text-danger" *ngIf="form.telefone.touched && form.telefone.invalid">
          <span *ngIf="form.telefone.errors.required">
            Informe o telefone.
          </span>
          <span *ngIf="form.telefone.errors.invalid">
            Apenas números.
          </span>

        </div>
      </div><br>

      <div class="col-md-3">
        <label>Data de Nascimento:</label>
        <input type="date" class="form-control" formControlName="dataNascimento" />
      </div><br>
      <div class="text-danger" *ngIf="form.dataNascimento.touched">
        <span *ngIf="form.dataNascimento.errors.required">
          Selecione a data
        </span>
      </div>

      <div class="col-md-12">
        <input type="submit"
               [disabled]="!formCadastro.valid"
               class="btn btn-success me-2"
               value="Cadastrar"/>

    </div>

</form>


</div>
