

<div>

  <h5 class="fs-3">Cadastro de Paciente</h5>
  <p> </p>
  <hr />

  <div class="mb-2">
    <strong>{{mensagem}}</strong>
    </div>


<form [formGroup]="formCadastro" (ngSubmit)="onSubmit()">

      <div class="col-md-5">
        <label>Nome:</label>
        <input type="text" class="form-control" formControlName="nome" />

      </div><br>

      <div class="col-md-5">
        <label>Telefone:</label>
        <input type="text" class="form-control" placeholder="0000-0000" formControlName="telefone"/>

      </div><br>

      <div class="col-md-3">
        <label>Data de Nascimento:</label>
        <input type="date" class="form-control" formControlName="dataNascimento" />
      </div><br>


      <div class="col-md-12">
        <input type="submit"
               [disabled]="!formCadastro.valid"
               class="btn btn-success me-2"
               value="Cadastrar"/>

    </div>

</form>


</div>
