<div class="container d-flex justify-content-center">
  <div class="col-md-6"> <!-- Defina o tamanho do container usando as classes de colunas do Bootstrap -->
    <h5>Acesso ao Sistema</h5>
    <p>Entre com seus dados de acesso:</p>
    <hr />

    <form class="row mb-3">

      <div class="col-md-6">
        <label class="form-label">Login de usuário</label>
        <input type="text" class="form-control" placeholder="Digite o login de usuário">
      </div>
      <div class="col-md-6">
        <label class="form-label">Senha de acesso:</label>
        <input type="password" class="form-control" placeholder="Digite a senha do usuário">
      </div>
      <div class="col-10">
        <button type="submit" class="btn btn-success mt-4">
          Acessar
        </button>
      </div>

    </form>

  </div>
</div>
