

<div>

  <h5 class="fs-3">Consulta de Paciente</h5>
  <p> </p>
  <hr />

  <div class="table-responsive">
    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                <th>Nome do Paciente</th>
                <th>Telefone</th>
                <th>Data de Nascimento</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button class="btn btn-sm btn-outline-danger me-2">
                        Excluir
                    </button>
                    <button class="btn btn-sm btn-outline-primary"
                        routerLink="/pacientes-edicao">
                        Editar
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    Quantidade de Pacientes: 0
                </td>
            </tr>
        </tfoot>
    </table>
</div>


</div>
