

<div>

  <h5 class="fs-3">Alteração de dados do Paciente</h5>
  <p> </p>
  <hr />

  <form>

    <div class="col-md-5">
      <label>Nome:</label>
      <input type="text" class="form-control" />
    </div><br>

    <div class="col-md-5">
      <label>Telefone:</label>
      <input type="text" class="form-control" placeholder="0000-0000" />
    </div><br>

    <div class="col-md-3">
      <label>Data de Nascimento:</label>
      <input type="date" class="form-control" />
    </div><br>

    <div class="col-md-12">
      <input type="submit"
             class="btn btn-success me-2"
             value="Atualizar"/>

  </div>

</form>


</div>
